$light-purple: #7c4fe0;
$purple: #6610f2;
$light-gray: #7e8085;
$extra-light-gray: #ddd;
$default-gray: #565656;
$yellow: #ffc107;
$light-yellow: #ffe761;
$orange: #fd7e14;

$black: #2c2e30;

$accent: $purple;
$extra: $purple;

$text-color: $black;
$link-color: $light-purple;

$border-radius: 3px;

$md: 991px;
$xs: 749px;
$xxs: 575px;
$xxxs: 500px;

$width: 135px;

$transition-basic: all 0.3s ease 0s;

@mixin gradientAnimation($start, $end, $transTime) {
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($end, $start);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

$blue: #00ffffd4;
$pink: #ff00ffab;

$close-button: 64px;

html#ecwid_html body#ecwid_body .ec-size .ec-store {
  /* Upsell Cart */
  .EzfyCart {
    width: 100%;
    max-width: unset;
    display: block;

    &[data-ezfy-products-quantity="0"] {
      display: none !important;
    }
  }

  .EzfyCart-item {
    min-width: $width !important;
  }

  .EzfyCart-item > * > *:not([class^="EzfyCart-atc-"]) {
    width: $width !important;
  }

  .EzfyCart-item img {
    display: block;

    max-width: $width !important;
    width: 100% !important;
  }

  .EzfyCart-item + .EzfyCart-item {
    margin-left: 10px !important;
  }

  .EzfyCart-items {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a9a9a9;
      outline: 1px solid #708090;
    }

    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }
  }

  .EzfyCart-quantity {
    display: flex;
  }

  .EzfyCart-quantity button {
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .EzfyCart-quantity input {
    width: 80px;
    height: 20px;
    line-height: 1;
    text-align: center;
  }

  .EzfyCart-atc {
    display: inline-block;
    width: 100%;
    padding: 0 1.8em !important;
    border: 1px solid #b3b3b3 !important;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    font-weight: 600;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    transition: background-color 0.12s ease-out 0s, color 0.12s ease-out 0s,
      border-color 0.12s ease-out 0s, box-shadow 0.12s ease-out 0s,
      transform 0.05s ease-out 0s, opacity 0.2s ease-out 0s !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-weight: 600;
    font-size: 12px !important;

    height: 24px !important;
    line-height: 24px !important;

    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) !important;
      border-color: #b3b3b3 !important;
      background-color: #f2f2f2 !important;
    }

    @media (max-width: $xs) {
      font-size: 12px;
    }
  }

  .EzfyCart-title {
    font-weight: bold;
  }

  .EzfyCart-prices {
    display: flex;
    align-items: center;
  }

  .EzfyCart-item-title {
    font-size: 12px !important;
    margin-top: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 30px;
    margin-bottom: 10px !important;
  }
  .EzfyCart-price {
    font-size: 12px;
  }
  .EzfyCart-compare-price {
    font-size: 11px;
    text-decoration: line-through;
    opacity: 0.8;
    margin-left: 10px;
  }

  .EzfyCart-atc-loading {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;

    display: none;
  }

  .EzfyCart-atc-text {
    pointer-events: none;
  }

  .EzfyCart-item--loading {
    .EzfyCart-atc-text {
      display: none;
    }

    .EzfyCart-atc {
      display: flex;
      justify-content: center;
    }

    .EzfyCart-atc-loading {
      display: block;
    }
  }

  .EzfyCart-atc-icon circle {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: rgb(46, 42, 57);
    animation: dash 1.4s ease-in-out infinite;
  }
}

/* ## Popup 
============================ */

.EzfyPopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 42, 57, 0.2);
  z-index: 999999999999999;

  .EzfyPopup-container {
    max-width: 1100px;
    width: 95%;
    background: salmon;
    margin: 0 auto;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow-y: scroll;

    @media (max-width: $xs) {
      height: 90vh;
    }
  }

  .EzfyPopup-close {
    background-color: rgb(253, 251, 247);
    border: 0.1rem solid rgba(46, 42, 57, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: #{$close-button / 2.3};
    z-index: 5;
    width: $close-button;
    height: $close-button;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;

    svg {
      height: auto;
      margin: 0;
      width: 2.2rem;
    }
  }

  &--invisible {
    display: none;
  }
}
/* ## Product inside popup
============================ */
.EzfyProduct {
  display: flex;
  .EzfyProduct-left {
    max-width: 45%;
    width: 100%;
  }

  .EzfyProduct-right {
    max-width: 55%;
    width: 100%;
  }

  .EzfyProduct-title {
    font-size: 52px;
  }

  .EzfyProduct-image {
    max-width: 100%;
    width: 100%;
  }
}

/* ## Animations 
============================ */

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@media screen and (forced-colors: active) {
  .EzfyCart-atc-icon circle {
    stroke: CanvasText;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}
