$light-purple: #7c4fe0;
$purple: #6610f2;
$light-gray: #7e8085;
$extra-light-gray: #ddd;
$default-gray: #565656;
$yellow: #ffc107;
$light-yellow: #ffe761;
$orange: #fd7e14;

$black: #2c2e30;

$accent: $purple;
$extra: $purple;

$text-color: $black;
$link-color: $light-purple;

$border-radius: 3px;

$md: 991px;
$xs: 767px;
$xxs: 575px;
$xxxs: 500px;

$button-width: 158px;

$transition-basic: all 0.3s ease 0s;

@mixin gradientAnimation($start, $end, $transTime) {
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($end, $start);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

$blue: #00ffffd4;
$pink: #ff00ffab;

html#ecwid_html body#ecwid_body .ec-size .ec-store {
  /* Upsell Cart */
  .EzfyCart {
    width: 100%;
    max-width: unset;
    display: block;
  }

  .EzfyCart-item img {
    display: block;
    max-width: 150px;
    width: 100%;
  }

  .EzfyCart-item {
    padding: 0 10px;
  }

  .EzfyCart-items {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .EzfyCart-quantity {
    display: flex;
  }

  .EzfyCart-quantity button {
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .EzfyCart-quantity input {
    width: 80px;
    height: 20px;
    line-height: 1;
    text-align: center;
  }

  .EzfyCart-atc {
    display: inline-block;
    width: 100%;
    padding: 0 1.8em !important;
    border: 1px solid #b3b3b3 !important;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    font-weight: 600;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    transition: background-color 0.12s ease-out 0s, color 0.12s ease-out 0s,
      border-color 0.12s ease-out 0s, box-shadow 0.12s ease-out 0s,
      transform 0.05s ease-out 0s, opacity 0.2s ease-out 0s !important;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-weight: 600;
    font-size: 12px !important;

    height: 24px !important;
    line-height: 24px !important;

    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) !important;
      border-color: #b3b3b3 !important;
      background-color: #f2f2f2 !important;
    }

    @media (max-width: $xs) {
      font-size: 12px;
    }
  }
}
