.PopupCustom {
  max-height: 90vh;
  overflow-y: scroll;
  height: 50vh;

  &-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
  }

  @at-root {
    .popup-overlay {
      @media (max-width: 767px) {
        padding: 0 5px !important;
      }
    }

    .popup-content {
      max-width: 500px;
      width: 100%;
    }
  }
}
