.PopupCustom {
  max-height: 90vh;
  overflow-y: scroll;

  position: relative;
  padding-top: 10px;
  height: 100%;
  .PopupCustom-close {
    background-color: #fdfbf7;
    border: 0.1rem solid rgba(46, 42, 57, 0.1);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 12.5px;
    z-index: 5;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 5px;
    transform: scale(0.75);
  }
  &-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
  }

  @at-root {
    .popup-overlay {
      @media (max-width: 767px) {
        padding: 0 5px !important;
      }
    }

    .popup-content {
      max-width: 500px;
      width: 100%;
      margin-top: 20px !important;
      height: 80vh;

      @media (max-width: 767px) {
        width: 90%;
      }
    }
  }
}
