.ProductItem {
  &-upsell {
    display: flex;
    align-items: center;
    // margin-top: 10px;
    // margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      width: 17px;
      height: 17px;
      margin-left: 10px;
    }
  }

  &-subtitle {
    // border-bottom: 1px solid #efefef;
    // display: block;
    // padding-bottom: 13px;
  }
}
