.Settings {
  .ReactModal__Overlay {
    background-color: rgba(255, 255, 255, 0.9) !important;
    z-index: 3 !important;
  }
  .ReactModal__Content {
    position: fixed;
    left: 50% !important;

    right: unset !important;
    bottom: unset !important;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 90%;
  }

  .Settings-button-text {
    position: relative;
    top: -3px;
    margin-right: 5px;
  }

  .Settings-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
    margin-bottom: 10px;
    cursor: POINTER;
  }

  .Settings-button svg {
    width: 19px;
    height: 19px;
  }
}
